html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
}

/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h1 {
    margin: auto;
}

/* Sidenav area */

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}


/* Primary content area */

.content {
    overflow: auto;
}

.content  {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

/**
* Hide when Angular is not yet loaded and initialized
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.content span {
    display: block;
    height: 16px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    }

md-card {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 94%;
    margin: 0;
}

md-card md-card-content {
    padding-left: 0;
    padding-right: 0;
}